.logo-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 1em 0 1em 0.5em;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container.loaded {
  opacity: 1;
  transform: translateX(0);
}

.logo-letters {
  width: 9rem;
  height: 15rem;
  margin-left: 1em;
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.7));
  animation: glow 5s infinite;
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 1));
  }
  50% {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));
  }
}

@media (max-width: 767px) {
  .logo-container {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100wh;
  }

  .logo-letters {
    transform: rotate(90deg);
    height: 3.5rem;
    width: 2.8rem;
  }
}
