* {
  margin: 0;
}

.main-container {
  background-image: url('./assets/palomaBckgnd.png');
  background-size: cover;
  background-position: calc(50% - 6em) calc(50% + 4em);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.links-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .main-container {
    flex-direction: column;
  }
}
